In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.Series((1, 3, '5', np.nan, 6, 8))

0      1
1      3
2      5
3    NaN
4      6
5      8
dtype: object

In [3]:
dates = pd.date_range('20200328', periods=6)

In [4]:
dates

DatetimeIndex(['2020-03-28', '2020-03-29', '2020-03-30', '2020-03-31',
               '2020-04-01', '2020-04-02'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [6]:
df

                   A         B         C         D
2020-03-28 -1.021654 -0.913502  1.406018 -0.115891
2020-03-29  0.534418 -0.453731  0.280514  0.191071
2020-03-30  0.256497 -1.958708 -1.317011  1.328188
2020-03-31  1.010169  1.703729 -0.089262  0.136831
2020-04-01 -0.211479  0.416298 -0.426986 -0.018739
2020-04-02 -1.089908 -1.242874 -0.910439 -1.509926

In [7]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})

In [8]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [9]:
df.head(2)

                   A         B         C         D
2020-03-28 -1.021654 -0.913502  1.406018 -0.115891
2020-03-29  0.534418 -0.453731  0.280514  0.191071

In [10]:
df.tail(3)

                   A         B         C         D
2020-03-31  1.010169  1.703729 -0.089262  0.136831
2020-04-01 -0.211479  0.416298 -0.426986 -0.018739
2020-04-02 -1.089908 -1.242874 -0.910439 -1.509926

In [11]:
df.sample(3)

                   A         B         C         D
2020-03-31  1.010169  1.703729 -0.089262  0.136831
2020-04-01 -0.211479  0.416298 -0.426986 -0.018739
2020-03-30  0.256497 -1.958708 -1.317011  1.328188

In [12]:
df.index

DatetimeIndex(['2020-03-28', '2020-03-29', '2020-03-30', '2020-03-31',
               '2020-04-01', '2020-04-02'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [14]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [15]:
df.to_numpy()

array([[-1.02165433, -0.91350154,  1.40601797, -0.11589072],
       [ 0.53441845, -0.45373149,  0.28051373,  0.19107095],
       [ 0.25649718, -1.95870816, -1.3170115 ,  1.32818753],
       [ 1.01016869,  1.70372944, -0.08926197,  0.13683058],
       [-0.2114788 ,  0.41629751, -0.42698647, -0.01873915],
       [-1.08990771, -1.2428737 , -0.9104395 , -1.50992589]])

In [16]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.086993 -0.408131 -0.176195  0.001922
std    0.848861  1.303702  0.961562  0.906967
min   -1.089908 -1.958708 -1.317011 -1.509926
25%   -0.819110 -1.160531 -0.789576 -0.091603
50%    0.022509 -0.683617 -0.258124  0.059046
75%    0.464938  0.198790  0.188070  0.177511
max    1.010169  1.703729  1.406018  1.328188

In [17]:
df.T

   2020-03-28  2020-03-29  2020-03-30  2020-03-31  2020-04-01  2020-04-02
A   -1.021654    0.534418    0.256497    1.010169   -0.211479   -1.089908
B   -0.913502   -0.453731   -1.958708    1.703729    0.416298   -1.242874
C    1.406018    0.280514   -1.317011   -0.089262   -0.426986   -0.910439
D   -0.115891    0.191071    1.328188    0.136831   -0.018739   -1.509926

In [18]:
df

                   A         B         C         D
2020-03-28 -1.021654 -0.913502  1.406018 -0.115891
2020-03-29  0.534418 -0.453731  0.280514  0.191071
2020-03-30  0.256497 -1.958708 -1.317011  1.328188
2020-03-31  1.010169  1.703729 -0.089262  0.136831
2020-04-01 -0.211479  0.416298 -0.426986 -0.018739
2020-04-02 -1.089908 -1.242874 -0.910439 -1.509926

In [19]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-03-28 -0.115891  1.406018 -0.913502 -1.021654
2020-03-29  0.191071  0.280514 -0.453731  0.534418
2020-03-30  1.328188 -1.317011 -1.958708  0.256497
2020-03-31  0.136831 -0.089262  1.703729  1.010169
2020-04-01 -0.018739 -0.426986  0.416298 -0.211479
2020-04-02 -1.509926 -0.910439 -1.242874 -1.089908

In [20]:
df.sort_values(by=['20200330'], axis=1)

                   B         C         A         D
2020-03-28 -0.913502  1.406018 -1.021654 -0.115891
2020-03-29 -0.453731  0.280514  0.534418  0.191071
2020-03-30 -1.958708 -1.317011  0.256497  1.328188
2020-03-31  1.703729 -0.089262  1.010169  0.136831
2020-04-01  0.416298 -0.426986 -0.211479 -0.018739
2020-04-02 -1.242874 -0.910439 -1.089908 -1.509926

In [21]:
df

                   A         B         C         D
2020-03-28 -1.021654 -0.913502  1.406018 -0.115891
2020-03-29  0.534418 -0.453731  0.280514  0.191071
2020-03-30  0.256497 -1.958708 -1.317011  1.328188
2020-03-31  1.010169  1.703729 -0.089262  0.136831
2020-04-01 -0.211479  0.416298 -0.426986 -0.018739
2020-04-02 -1.089908 -1.242874 -0.910439 -1.509926

In [22]:
df.A

2020-03-28   -1.021654
2020-03-29    0.534418
2020-03-30    0.256497
2020-03-31    1.010169
2020-04-01   -0.211479
2020-04-02   -1.089908
Freq: D, Name: A, dtype: float64

In [23]:
df['A']

2020-03-28   -1.021654
2020-03-29    0.534418
2020-03-30    0.256497
2020-03-31    1.010169
2020-04-01   -0.211479
2020-04-02   -1.089908
Freq: D, Name: A, dtype: float64

In [24]:
df[['A','B']]

                   A         B
2020-03-28 -1.021654 -0.913502
2020-03-29  0.534418 -0.453731
2020-03-30  0.256497 -1.958708
2020-03-31  1.010169  1.703729
2020-04-01 -0.211479  0.416298
2020-04-02 -1.089908 -1.242874

In [25]:
df[2:3]

                   A         B         C         D
2020-03-30  0.256497 -1.958708 -1.317011  1.328188

In [26]:
df.loc[dates[0]]

A   -1.021654
B   -0.913502
C    1.406018
D   -0.115891
Name: 2020-03-28 00:00:00, dtype: float64

In [27]:
df.loc['20200331']

A    1.010169
B    1.703729
C   -0.089262
D    0.136831
Name: 2020-03-31 00:00:00, dtype: float64

In [28]:
df.loc[:, ['A','B']]

                   A         B
2020-03-28 -1.021654 -0.913502
2020-03-29  0.534418 -0.453731
2020-03-30  0.256497 -1.958708
2020-03-31  1.010169  1.703729
2020-04-01 -0.211479  0.416298
2020-04-02 -1.089908 -1.242874

In [29]:
df

                   A         B         C         D
2020-03-28 -1.021654 -0.913502  1.406018 -0.115891
2020-03-29  0.534418 -0.453731  0.280514  0.191071
2020-03-30  0.256497 -1.958708 -1.317011  1.328188
2020-03-31  1.010169  1.703729 -0.089262  0.136831
2020-04-01 -0.211479  0.416298 -0.426986 -0.018739
2020-04-02 -1.089908 -1.242874 -0.910439 -1.509926

In [30]:
df.iloc[3]

A    1.010169
B    1.703729
C   -0.089262
D    0.136831
Name: 2020-03-31 00:00:00, dtype: float64

In [31]:
df.iloc[:, 1:3]

                   B         C
2020-03-28 -0.913502  1.406018
2020-03-29 -0.453731  0.280514
2020-03-30 -1.958708 -1.317011
2020-03-31  1.703729 -0.089262
2020-04-01  0.416298 -0.426986
2020-04-02 -1.242874 -0.910439

In [32]:
df.iloc[1,1]

-0.45373148879923697

In [33]:
df

                   A         B         C         D
2020-03-28 -1.021654 -0.913502  1.406018 -0.115891
2020-03-29  0.534418 -0.453731  0.280514  0.191071
2020-03-30  0.256497 -1.958708 -1.317011  1.328188
2020-03-31  1.010169  1.703729 -0.089262  0.136831
2020-04-01 -0.211479  0.416298 -0.426986 -0.018739
2020-04-02 -1.089908 -1.242874 -0.910439 -1.509926

In [34]:
df['A']>0

2020-03-28    False
2020-03-29     True
2020-03-30     True
2020-03-31     True
2020-04-01    False
2020-04-02    False
Freq: D, Name: A, dtype: bool

In [35]:
df[df['A']>0]

                   A         B         C         D
2020-03-29  0.534418 -0.453731  0.280514  0.191071
2020-03-30  0.256497 -1.958708 -1.317011  1.328188
2020-03-31  1.010169  1.703729 -0.089262  0.136831

In [36]:
df4=df[df > 0]

In [37]:
df3=df

In [38]:
id(df3)

140133112723664

In [39]:
id(df)

140133112723664

In [40]:
id(df4)

140132436481360

In [41]:
df3 = df.copy()

In [42]:
id(df3)

140132418081232

In [43]:
df3

                   A         B         C         D
2020-03-28 -1.021654 -0.913502  1.406018 -0.115891
2020-03-29  0.534418 -0.453731  0.280514  0.191071
2020-03-30  0.256497 -1.958708 -1.317011  1.328188
2020-03-31  1.010169  1.703729 -0.089262  0.136831
2020-04-01 -0.211479  0.416298 -0.426986 -0.018739
2020-04-02 -1.089908 -1.242874 -0.910439 -1.509926

In [44]:
df3['E']=['one','one','two','three','four','three']

In [45]:
df

                   A         B         C         D
2020-03-28 -1.021654 -0.913502  1.406018 -0.115891
2020-03-29  0.534418 -0.453731  0.280514  0.191071
2020-03-30  0.256497 -1.958708 -1.317011  1.328188
2020-03-31  1.010169  1.703729 -0.089262  0.136831
2020-04-01 -0.211479  0.416298 -0.426986 -0.018739
2020-04-02 -1.089908 -1.242874 -0.910439 -1.509926

In [46]:
df3

                   A         B         C         D      E
2020-03-28 -1.021654 -0.913502  1.406018 -0.115891    one
2020-03-29  0.534418 -0.453731  0.280514  0.191071    one
2020-03-30  0.256497 -1.958708 -1.317011  1.328188    two
2020-03-31  1.010169  1.703729 -0.089262  0.136831  three
2020-04-01 -0.211479  0.416298 -0.426986 -0.018739   four
2020-04-02 -1.089908 -1.242874 -0.910439 -1.509926  three

In [47]:
df[df3.E.isin(['two','four'])]

                   A         B         C         D
2020-03-30  0.256497 -1.958708 -1.317011  1.328188
2020-04-01 -0.211479  0.416298 -0.426986 -0.018739

In [48]:
s1 = pd.Series([1,2,3,4,5,6], index = pd.date_range('20200329', periods=6))

In [49]:
s1

2020-03-29    1
2020-03-30    2
2020-03-31    3
2020-04-01    4
2020-04-02    5
2020-04-03    6
Freq: D, dtype: int64

In [50]:
df['F'] = s1

In [51]:
df

                   A         B         C         D    F
2020-03-28 -1.021654 -0.913502  1.406018 -0.115891  NaN
2020-03-29  0.534418 -0.453731  0.280514  0.191071  1.0
2020-03-30  0.256497 -1.958708 -1.317011  1.328188  2.0
2020-03-31  1.010169  1.703729 -0.089262  0.136831  3.0
2020-04-01 -0.211479  0.416298 -0.426986 -0.018739  4.0
2020-04-02 -1.089908 -1.242874 -0.910439 -1.509926  5.0

In [52]:
df.at[dates[0], 'A'] = 0

In [53]:
df

                   A         B         C         D    F
2020-03-28  0.000000 -0.913502  1.406018 -0.115891  NaN
2020-03-29  0.534418 -0.453731  0.280514  0.191071  1.0
2020-03-30  0.256497 -1.958708 -1.317011  1.328188  2.0
2020-03-31  1.010169  1.703729 -0.089262  0.136831  3.0
2020-04-01 -0.211479  0.416298 -0.426986 -0.018739  4.0
2020-04-02 -1.089908 -1.242874 -0.910439 -1.509926  5.0

In [54]:
df.iat[0, 1] = 0

In [56]:
df

                   A         B         C         D    F
2020-03-28  0.000000  0.000000  1.406018 -0.115891  NaN
2020-03-29  0.534418 -0.453731  0.280514  0.191071  1.0
2020-03-30  0.256497 -1.958708 -1.317011  1.328188  2.0
2020-03-31  1.010169  1.703729 -0.089262  0.136831  3.0
2020-04-01 -0.211479  0.416298 -0.426986 -0.018739  4.0
2020-04-02 -1.089908 -1.242874 -0.910439 -1.509926  5.0

In [57]:
df5 = df.copy()

In [58]:
df5

                   A         B         C         D    F
2020-03-28  0.000000  0.000000  1.406018 -0.115891  NaN
2020-03-29  0.534418 -0.453731  0.280514  0.191071  1.0
2020-03-30  0.256497 -1.958708 -1.317011  1.328188  2.0
2020-03-31  1.010169  1.703729 -0.089262  0.136831  3.0
2020-04-01 -0.211479  0.416298 -0.426986 -0.018739  4.0
2020-04-02 -1.089908 -1.242874 -0.910439 -1.509926  5.0

In [60]:
df5>0

                A      B      C      D      F
2020-03-28  False  False   True  False  False
2020-03-29   True  False   True   True   True
2020-03-30   True  False  False   True   True
2020-03-31   True   True  False   True   True
2020-04-01  False   True  False  False   True
2020-04-02  False  False  False  False   True

In [61]:
df5[df5>0]

                   A         B         C         D    F
2020-03-28       NaN       NaN  1.406018       NaN  NaN
2020-03-29  0.534418       NaN  0.280514  0.191071  1.0
2020-03-30  0.256497       NaN       NaN  1.328188  2.0
2020-03-31  1.010169  1.703729       NaN  0.136831  3.0
2020-04-01       NaN  0.416298       NaN       NaN  4.0
2020-04-02       NaN       NaN       NaN       NaN  5.0

In [62]:
df5[df5>0] = -df5

In [63]:
df5

                   A         B         C         D    F
2020-03-28  0.000000  0.000000 -1.406018 -0.115891  NaN
2020-03-29 -0.534418 -0.453731 -0.280514 -0.191071 -1.0
2020-03-30 -0.256497 -1.958708 -1.317011 -1.328188 -2.0
2020-03-31 -1.010169 -1.703729 -0.089262 -0.136831 -3.0
2020-04-01 -0.211479 -0.416298 -0.426986 -0.018739 -4.0
2020-04-02 -1.089908 -1.242874 -0.910439 -1.509926 -5.0

In [64]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [65]:
df1

                   A         B         C         D    F   E
2020-03-28  0.000000  0.000000  1.406018 -0.115891  NaN NaN
2020-03-29  0.534418 -0.453731  0.280514  0.191071  1.0 NaN
2020-03-30  0.256497 -1.958708 -1.317011  1.328188  2.0 NaN
2020-03-31  1.010169  1.703729 -0.089262  0.136831  3.0 NaN

In [66]:
df1.loc[dates[0]:dates[1], 'E'] = 1

In [67]:
df1

                   A         B         C         D    F    E
2020-03-28  0.000000  0.000000  1.406018 -0.115891  NaN  1.0
2020-03-29  0.534418 -0.453731  0.280514  0.191071  1.0  1.0
2020-03-30  0.256497 -1.958708 -1.317011  1.328188  2.0  NaN
2020-03-31  1.010169  1.703729 -0.089262  0.136831  3.0  NaN

In [68]:
df1.dropna(how='any')

                   A         B         C         D    F    E
2020-03-29  0.534418 -0.453731  0.280514  0.191071  1.0  1.0

In [69]:
df1.fillna(value=5)

                   A         B         C         D    F    E
2020-03-28  0.000000  0.000000  1.406018 -0.115891  5.0  1.0
2020-03-29  0.534418 -0.453731  0.280514  0.191071  1.0  1.0
2020-03-30  0.256497 -1.958708 -1.317011  1.328188  2.0  5.0
2020-03-31  1.010169  1.703729 -0.089262  0.136831  3.0  5.0

In [70]:
pd.isna(df1)

                A      B      C      D      F      E
2020-03-28  False  False  False  False   True  False
2020-03-29  False  False  False  False  False  False
2020-03-30  False  False  False  False  False   True
2020-03-31  False  False  False  False  False   True

In [71]:
df1.isna()

                A      B      C      D      F      E
2020-03-28  False  False  False  False   True  False
2020-03-29  False  False  False  False  False  False
2020-03-30  False  False  False  False  False   True
2020-03-31  False  False  False  False  False   True

In [72]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)

In [73]:
s

2020-03-28    NaN
2020-03-29    NaN
2020-03-30    1.0
2020-03-31    3.0
2020-04-01    5.0
2020-04-02    NaN
Freq: D, dtype: float64

In [77]:
df

                   A         B         C         D    F
2020-03-28  0.000000  0.000000  1.406018 -0.115891  NaN
2020-03-29  0.534418 -0.453731  0.280514  0.191071  1.0
2020-03-30  0.256497 -1.958708 -1.317011  1.328188  2.0
2020-03-31  1.010169  1.703729 -0.089262  0.136831  3.0
2020-04-01 -0.211479  0.416298 -0.426986 -0.018739  4.0
2020-04-02 -1.089908 -1.242874 -0.910439 -1.509926  5.0

In [80]:
df.add(s, axis='index')

                   A         B         C         D    F
2020-03-28       NaN       NaN       NaN       NaN  NaN
2020-03-29       NaN       NaN       NaN       NaN  NaN
2020-03-30  1.256497 -0.958708 -0.317011  2.328188  3.0
2020-03-31  4.010169  4.703729  2.910738  3.136831  6.0
2020-04-01  4.788521  5.416298  4.573014  4.981261  9.0
2020-04-02       NaN       NaN       NaN       NaN  NaN

In [81]:
df

                   A         B         C         D    F
2020-03-28  0.000000  0.000000  1.406018 -0.115891  NaN
2020-03-29  0.534418 -0.453731  0.280514  0.191071  1.0
2020-03-30  0.256497 -1.958708 -1.317011  1.328188  2.0
2020-03-31  1.010169  1.703729 -0.089262  0.136831  3.0
2020-04-01 -0.211479  0.416298 -0.426986 -0.018739  4.0
2020-04-02 -1.089908 -1.242874 -0.910439 -1.509926  5.0

In [82]:
df.apply(np.cumsum)

                   A         B         C         D     F
2020-03-28  0.000000  0.000000  1.406018 -0.115891   NaN
2020-03-29  0.534418 -0.453731  1.686532  0.075180   1.0
2020-03-30  0.790916 -2.412440  0.369520  1.403368   3.0
2020-03-31  1.801084 -0.708710  0.280258  1.540198   6.0
2020-04-01  1.589606 -0.292413 -0.146728  1.521459  10.0
2020-04-02  0.499698 -1.535286 -1.057168  0.011533  15.0

In [83]:
df.apply(lambda x: x.max() - x.min())

A    2.100076
B    3.662438
C    2.723029
D    2.838113
F    4.000000
dtype: float64

In [84]:
df['A'].value_counts()

-1.089908    1
 0.256497    1
 1.010169    1
 0.534418    1
-0.211479    1
 0.000000    1
Name: A, dtype: int64

In [85]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [87]:
s

0       A
1       B
2       C
3    Aaba
4    Baca
5     NaN
6    CABA
7     dog
8     cat
dtype: object

In [88]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [89]:
df = pd.DataFrame(np.random.randn(10, 4))

In [90]:
df

          0         1         2         3
0 -0.135698  1.563459  1.763986 -0.241826
1  0.141999  0.704322 -0.054065  0.281430
2 -1.067820  1.204913 -0.373033  0.262756
3 -0.453825  1.076124  1.144548 -0.025702
4 -1.459360  0.233788  0.429822  1.047313
5  1.425285  0.780034  0.050567  0.606793
6 -0.451990  1.375497  1.162501 -0.667637
7 -0.351032  0.515808  0.825954  0.488802
8  0.585697 -1.282340  0.089362  0.189808
9 -0.140500 -0.368881  0.300283 -0.327698

In [91]:
 pieces = [df[:3], df[3:7], df[7:]]

In [98]:
df1 = pd.concat(pieces)

In [100]:
pd.concat([df,df1])

          0         1         2         3
0 -0.135698  1.563459  1.763986 -0.241826
1  0.141999  0.704322 -0.054065  0.281430
2 -1.067820  1.204913 -0.373033  0.262756
3 -0.453825  1.076124  1.144548 -0.025702
4 -1.459360  0.233788  0.429822  1.047313
5  1.425285  0.780034  0.050567  0.606793
6 -0.451990  1.375497  1.162501 -0.667637
7 -0.351032  0.515808  0.825954  0.488802
8  0.585697 -1.282340  0.089362  0.189808
9 -0.140500 -0.368881  0.300283 -0.327698
0 -0.135698  1.563459  1.763986 -0.241826
1  0.141999  0.704322 -0.054065  0.281430
2 -1.067820  1.204913 -0.373033  0.262756
3 -0.453825  1.076124  1.144548 -0.025702
4 -1.459360  0.233788  0.429822  1.047313
5  1.425285  0.780034  0.050567  0.606793
6 -0.451990  1.375497  1.162501 -0.667637
7 -0.351032  0.515808  0.825954  0.488802
8  0.585697 -1.282340  0.089362  0.189808
9 -0.140500 -0.368881  0.300283 -0.327698

In [101]:
df

          0         1         2         3
0 -0.135698  1.563459  1.763986 -0.241826
1  0.141999  0.704322 -0.054065  0.281430
2 -1.067820  1.204913 -0.373033  0.262756
3 -0.453825  1.076124  1.144548 -0.025702
4 -1.459360  0.233788  0.429822  1.047313
5  1.425285  0.780034  0.050567  0.606793
6 -0.451990  1.375497  1.162501 -0.667637
7 -0.351032  0.515808  0.825954  0.488802
8  0.585697 -1.282340  0.089362  0.189808
9 -0.140500 -0.368881  0.300283 -0.327698

In [102]:
df.to_csv('foo.csv')

In [104]:
df1= pd.read_csv('user.csv')

In [105]:
df1

  userid  username   userage        usertell
0   hong       홍길동        23   010-1111-2222
1    kim       김철수        33   010-3333-4444